.textEntry-component {

    .textEntry-input {
        margin-left: auto;
        margin-right: auto;
    }

    .textEntry-item-textbox {
        border: 1px solid @item-color;
        display: block;
        margin: 0;
        padding: 1%;
        resize: none;
        width: 98%;
    }

    .textEntry-button {
        margin-top: @component-padding;
    }

}

.notify {

    .textEntry-user-title {
        margin-bottom: @component-padding;
        text-align: left;
        font-weight: @font-weight-bold;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-user-answer {
        margin-bottom: @notify-padding;
        text-align: left;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-feedback-title {
        margin-bottom: @component-padding;
        text-align: left;
        font-weight: @font-weight-bold;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-feedback-body {
        text-align: left;
        .dir-rtl & {
            text-align: right;
        }
    }

}