.textEntry-audio-component {

    .textEntry-audio-input {
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
      text-align: center;
      .button {
        width: auto;
        float: none;
      }
      margin-bottom: 0;
    }

    .textEntry-audio-item-textbox {
        border: 1px solid @item-color;
        display: block;
        margin: 0;
        padding: 1%;
        resize: none;
        width: 98%;
    }

    .textEntry-audio-button {
        margin-top: @component-padding;
    }

}

.notify {

    .textEntry-audio-user-title {
        margin-bottom: @component-padding;
        text-align: left;
        font-weight: @font-weight-bold;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-audio-user-answer {
        margin-bottom: @notify-padding;
        text-align: left;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-audio-feedback-title {
        margin-bottom: @component-padding;
        text-align: left;
        font-weight: @font-weight-bold;
        .dir-rtl & {
            text-align: right;
        }
    }

    .textEntry-audio-feedback-body {
        text-align: left;
        .dir-rtl & {
            text-align: right;
        }
    }

}
