<div class="textEntry-audio-inner component-inner" role="region" aria-label="{{_globals._components._textEntry-audio.ariaRegion}}">
    {{> component this}}
    <div class="textEntry-audio-widget component-widget">
		<div class="textEntry-audio-input">
		   	<textarea placeholder="{{compile placeholder}}" class="textEntry-audio-item-textbox" cols="2" rows="10"></textarea>
		</div>
    <div class="buttons">
	    <button class="textEntry-audio-button button" role="button" aria-label="{{_buttons._submit.ariaLabel}}">
	        {{_buttons._submit.buttonText}}
	    </button>
    </div>
	</div>
</div>
