<div class="textEntry-inner component-inner" role="region" aria-label="{{_globals._components._textEntry.ariaRegion}}">
    {{> component this}}
    <div class="textEntry-widget component-widget">
		<div class="textEntry-input">
		   	<textarea placeholder="{{placeholder}}" class="textEntry-item-textbox" cols="2" rows="10"></textarea>
		</div>
	    <button class="textEntry-button button" role="button" aria-label="{{_buttons._submit.ariaLabel}}">
	        {{_buttons._submit.buttonText}}
	    </button>
	</div>
</div>